<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/navbar.ejs') %> 
    <div class="container">
        <h2><%= title %></h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach((blog) => { %>
                <div class="card">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.body %></p>
                    <hr>
                    <div class="card-bottom">
                        <p><b>Author: </b><i><%= blog.author %></i></p>
                        <a href="/blog/view/<%= blog.id %> " class="btn-primary" >Read More</a>
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <p>No post yet!</p>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/script.ejs') %>
</body>
</html>