<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container">
        <h2><%= title %></h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente magni possimus 
        nisi fugit incidunt porro ex cupiditate earum, perferendis voluptates ullam omnis in 
        exercitationem labore tempora eligendi aliquid facilis expedita. Lorem ipsum dolor sit 
        amet consectetur adipisicing elit. Ex, saepe accusamus distinctio quae illum commodi 
        deserunt sint dicta fuga iure itaque iste in totam hic mollitia repellendus quam quidem 
        ipsam?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>